.correct-ans {
  text-align: center;

  .next-q {
    width: 50%;
    height: 6vh;
    font-size: 100%;
    border-radius: 10px;
  }
}
.anim {
  height: 40vh;
  display: flex;
  align-items: center;
}
