.questions {
  .q-questions {
    text-align: center;
    p {
      padding: 10px 40px 10px 40px;
    }
  }

  .q-mchoices {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .choice {
      width: 50%;
      height: 19%;
      font-size: initial;
      border-radius: 10px;
    }
  }
}
