.questions {
  .q-questions {
    text-align: center;
  }

  .q-mchoices {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .choice {
      width: 50%;
      height: 19%;
      font-size: 100%;
      border-radius: 10px;
    }
  }
}
