.welcome {
  .get-start {
    height: 3rem;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
  }
  .options-menu {
    height: 14vh;
    max-width: 85vw;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .option {
      display: flex;
      flex: 1;
      align-items: center;
    }
    .dropdown {
    }
    .s-type {
      font-size: initial;
      margin-left: 10px;
      max-width: 70%;
    }
  }
}
